In [3]:
import pandas as pd

df = pd.read_csv(r"C:\Users\annie\OneDrive\Documents\Projects\ocean_clean_project\data\raw\coastal_cleanup_US_detailed.csv")
df.head()

C:\Users\annie\AppData\Local\Temp\ipykernel_32376\1988001544.py:3: DtypeWarning: Columns (0,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\annie\OneDrive\Documents\Projects\ocean_clean_project\data\raw\coastal_cleanup_US_detailed.csv")

,Cleanup ID,Zone,State,Country,Latitude,Longitude,Cleanup Type,Environment,Cleanup Date,Group Name,...,Other plastic/foam packaging,Tobacco packaging/wrap,Cigar tips,Cigarette lighters,Fireworks,"Other tobacco (packaging, lighter, etc.)",Foam pieces,Glass pieces,Plastic pieces,Total Items Collected
0,34704,"Monmouth County, NJ, USA","New Jersey, USA",United States,40.21321,-74.03983,land,NaN,7/20/2023,Cocchi's Cleanup Crew P-5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,26.0
1,80890,"Santa Cruz County, CA, USA","California, USA",United States,36.91315,-121.79007,land,NaN,9/21/2022,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,152.0
2,177162,"Mendocino County, CA, USA","California, USA",United States,39.42015,-123.80174,land,NaN,7/24/2022,Noyo Center for Marine Science,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,37.0
3,204333,"Alameda County, CA, USA","California, USA",United States,37.85675,-122.25550,land,NaN,10/30/2022,NaN,...,NaN,NaN,NaN,NaN,NaN,26.0,NaN,NaN,59.0,585.0
4,213568,"Volusia County, FL, USA","Florida, USA",United States,29.21794,-81.00271,land,NaN,1/1/2022,Dbfd,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,9.0,168.0

In [ ]:
# Day 2: Data Cleaning – Global Coastal Cleanup Project
# it give number of rows and columns are in file 
df.shape

(69466, 75)

In [6]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace(r"[^\w]", "", regex=True)
)

df.columns

Index(['cleanup_id', 'zone', 'state', 'country', 'latitude', 'longitude',
       'cleanup_type', 'environment', 'cleanup_date', 'group_name', 'adults',
       'children', 'people', 'pounds', 'distance_mi', 'area_mi', '_of_bags',
       'grocery_bags_plastic', 'other_bags_plastic', 'beverage_bottles_glass',
       'beverage_bottles_plastic', 'beverage_cans', 'beverage_sachetspouches',
       'bottle_caps_metal', 'bottle_caps_plastic', 'cigarette_butts',
       'cups_plates_foam', 'cups_plates_paper', 'cups_plates_plastic',
       'food_containers_foam', 'food_containers_plastic',
       'food_wrappers_candy_chips_etc', 'lids_plastic',
       'strawsstirrers_plastic', 'utensils_plastic',
       'lines_nets_traps_ropes_etc', 'foam_dock_pieces',
       'appliances_refrigerators_washers_etc', 'construction_materials',
       'tires', '6pack_holders', 'foam_packaging',
       'other_plastic_bottles_oil_bleach_etc', 'strapping_bands', 'balloons',
       'clothing', 'ecigarettes', 'electronic_waste_phones_batteries',
       'footwear_shoesslippers', 'paper_bags',
       'tobacco_products_lighters_cigar_tips_wrap', 'toys',
       'other_plastic_waste', 'other_waste_metal_paper_etc', 'condoms',
       'cotton_bud_sticks_swabs', 'diapers', 'gloves__masks_ppe', 'syringes',
       'tampons__applicators', 'plasticfoam_pieces',
       'fishing_buoys_pots__traps', 'fishing_net__pieces',
       'fishing_line_1_yardmeter__1_piece', 'rope_1_yardmeter__1_piece',
       'other_plasticfoam_packaging', 'tobacco_packagingwrap', 'cigar_tips',
       'cigarette_lighters', 'fireworks',
       'other_tobacco_packaging_lighter_etc', 'foam_pieces', 'glass_pieces',
       'plastic_pieces', 'total_items_collected'],
      dtype='object')

In [7]:
df.isnull().sum().sort_values(ascending=False)

fireworks                    69457
fishing_buoys_pots__traps    69455
fishing_net__pieces          69449
cigarette_lighters           69448
tobacco_packagingwrap        69447
                             ...
latitude                         1
distance_mi                      1
pounds                           1
area_mi                          1
cleanup_id                       0
Length: 75, dtype: int64

In [8]:
df['cleanup_date'] = pd.to_datetime(df['cleanup_date'], errors='coerce')
df['cleanup_year'] = df['cleanup_date'].dt.year

df[['cleanup_date', 'cleanup_year']].head()

  cleanup_date  cleanup_year
0   2023-07-20        2023.0
1   2022-09-21        2022.0
2   2022-07-24        2022.0
3   2022-10-30        2022.0
4   2022-01-01        2022.0

In [9]:
numeric_cols = df.select_dtypes(include='number').columns
df[numeric_cols] = df[numeric_cols].fillna(0)

In [10]:
df.isnull().sum().sum()

np.int64(48505)

In [11]:
df.isnull().sum().sort_values(ascending=False).head(10)

environment     33874
group_name      14575
state              26
zone               25
cleanup_date        1
country             1
cleanup_type        1
pounds              1
distance_mi         1
longitude           0
dtype: int64

In [ ]:
df.to_csv(r"C:\Users\annie\OneDrive\Documents\Projects\ocean_clean_project\data\raw\coastal_cleanup_US_cleaned.csv", index=False)

In [20]:
pd.read_csv(r"C:\Users\annie\OneDrive\Documents\Projects\ocean_clean_project\data\raw\coastal_cleanup_US_cleaned.csv").head()

C:\Users\annie\AppData\Local\Temp\ipykernel_32376\3572828569.py:1: DtypeWarning: Columns (0,14) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv(r"C:\Users\annie\OneDrive\Documents\Projects\ocean_clean_project\data\raw\coastal_cleanup_US_cleaned.csv").head()

,cleanup_id,zone,state,country,latitude,longitude,cleanup_type,environment,cleanup_date,group_name,...,tobacco_packagingwrap,cigar_tips,cigarette_lighters,fireworks,other_tobacco_packaging_lighter_etc,foam_pieces,glass_pieces,plastic_pieces,total_items_collected,cleanup_year
0,34704,"Monmouth County, NJ, USA","New Jersey, USA",United States,40.21321,-74.03983,land,NaN,2023-07-20,Cocchi's Cleanup Crew P-5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,26.0,2023.0
1,80890,"Santa Cruz County, CA, USA","California, USA",United States,36.91315,-121.79007,land,NaN,2022-09-21,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,152.0,2022.0
2,177162,"Mendocino County, CA, USA","California, USA",United States,39.42015,-123.80174,land,NaN,2022-07-24,Noyo Center for Marine Science,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,37.0,2022.0
3,204333,"Alameda County, CA, USA","California, USA",United States,37.85675,-122.25550,land,NaN,2022-10-30,NaN,...,0.0,0.0,0.0,0.0,26.0,0.0,0.0,59.0,585.0,2022.0
4,213568,"Volusia County, FL, USA","Florida, USA",United States,29.21794,-81.00271,land,NaN,2022-01-01,Dbfd,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,9.0,168.0,2022.0

In [36]:
# to reduce the file size
df.memory_usage(deep=True).sort_values(ascending=False).head(15)

zone            5647680
state           4918832
country         4862582
group_name      4608144
cleanup_type    4243565
pounds          4213116
environment     3397834
distance_mi     2668562
cleanup_id      2606887
adults           555728
cleanup_date     555728
latitude         555728
longitude        555728
balloons         555728
children         555728
dtype: int64

In [37]:
# i deleted this columns to reduce the size those are like non-essential metadata
columns_to_drop = [
    'group_name',
    'comments',
    'organization',
    'city',
    'county',
    'environment',
    'cleanup_type'
]

df_reduced = df.drop(columns=columns_to_drop, errors='ignore')

In [39]:
#After removing the columns i saved the file as cleaup_US_cleaned_2.csv 
df_reduced.to_csv(
    r"C:\Users\annie\OneDrive\Documents\Projects\ocean_clean_project\data\raw\coastal_cleanup_US_cleaned_2.csv",
    index=False
)